n8n/workflows/01-amplemarket-webhook-relay.json
{
  "name": "Balboa - Amplemarket Webhook Relay",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amplemarket-events",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Amplemarket Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://balboa-xi.vercel.app/api/webhooks/amplemarket",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 30000
        },
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "forward-to-balboa",
      "name": "Forward to Balboa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true }) }}"
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Amplemarket Webhook": {
      "main": [
        [{ "node": "Forward to Balboa", "type": "main", "index": 0 }]
      ]
    },
    "Forward to Balboa": {
      "main": [
        [{ "node": "Respond OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
